<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <!-- <springProperty name="LOG_PATH" source="logging.path" defaultValue="/home/admin/c-hippo/logs" /> -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{mm:ss} %-5level %logger{36} >>> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RECORDAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/record.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/record.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="RECORD" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RECORDAPPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="RECORDAPPENDER" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>